<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
    </head>
    <body>
        <nav class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button"><span class="icon is-small"><i class="fa fa-home" aria-hidden="true"></i></span></a>
            <a href="/rust" class="w3-bar-item w3-button"><span>Rust</span></a>
            <a href="/wasm" class="w3-bar-item w3-button"><span>WebAssembly</span></a>
        </nav>

        <div class="w3-card-2 w3-margin w3-padding-small">
            {{ content }}
        </div>
        
        <footer class="w3-bar w3-teal">
            <a href="mailto:arkada38@gmail.com" class="w3-bar-item w3-button"><span class="icon is-small"><i class="fa fa-envelope-o" aria-hidden="true"></i></span></a>
            <a href="https://github.com/arkada38" class="w3-bar-item w3-button"><span class="icon is-small"><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </footer>
    </body>
</html>