<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div>
        <footer>
            <ul>
                <li><a href="mailto:arkada38@gmail.com">email</a></li>
                <li><a href="https://github.com/arkada38">github.com/arkada38</a></li>
            </ul>
        </footer>
    </body>
</html>